In [1]:
import pandas as pd
import requests
import re
import time

In [2]:
hdb = pd.read_csv('hdb-property-information.csv')
hdb.head()

,blk_no,street,max_floor_lvl,year_completed,residential,commercial,market_hawker,miscellaneous,multistorey_carpark,precinct_pavilion,...,3room_sold,4room_sold,5room_sold,exec_sold,multigen_sold,studio_apartment_sold,1room_rental,2room_rental,3room_rental,other_room_rental
0,1,BEACH RD,16,1970,Y,Y,N,N,N,N,...,138,1,2,0,0,0,0,0,0,0
1,1,BEDOK STH AVE 1,14,1975,Y,N,N,Y,N,N,...,204,0,2,0,0,0,0,0,0,0
2,1,CANTONMENT RD,2,2010,N,Y,N,N,N,N,...,0,0,0,0,0,0,0,0,0,0
3,1,CHAI CHEE RD,15,1982,Y,N,N,N,N,N,...,0,10,92,0,0,0,0,0,0,0
4,1,CHANGI VILLAGE RD,4,1975,Y,Y,N,N,N,N,...,54,0,1,0,0,0,0,0,0,0

In [3]:
# sample
data = requests.get('https://developers.onemap.sg/commonapi/search?searchVal=9c+boon+tiong+road&returnGeom=Y&getAddrDetails=Y&pageNum=1')

In [4]:
data.content

b'{"found":1,"totalNumPages":1,"pageNum":1,"results":[{"SEARCHVAL":"TIONG BAHRU VIEW","BLK_NO":"9C","ROAD_NAME":"BOON TIONG ROAD","BUILDING":"TIONG BAHRU VIEW","ADDRESS":"9C BOON TIONG ROAD TIONG BAHRU VIEW SINGAPORE 164009","POSTAL":"164009","X":"27533.064019999998","Y":"29918.253210000003","LATITUDE":"1.28684456","LONGITUDE":"103.829123","LONGTITUDE":"103.829123"}]}'

In [5]:
address = hdb.loc[:, ['blk_no', 'street']]
address['query'] = address['blk_no'].astype(str) + '+' + address['street'].astype(str)
address['query'] = [re.sub(' ', '+', query) for query in address['query']]
address.head()

  blk_no             street                query
0      1           BEACH RD           1+BEACH+RD
1      1    BEDOK STH AVE 1    1+BEDOK+STH+AVE+1
2      1      CANTONMENT RD      1+CANTONMENT+RD
3      1       CHAI CHEE RD       1+CHAI+CHEE+RD
4      1  CHANGI VILLAGE RD  1+CHANGI+VILLAGE+RD

In [6]:
address_dict = address.to_dict('records')

In [9]:
for i in range(0, len(address_dict)):
    if i % 100 == 0:
        print('at ' + str(i))

    try:
        record = address_dict[i]
        query = 'https://developers.onemap.sg/commonapi/search?searchVal={0}&returnGeom=Y&getAddrDetails=Y&pageNum=1'.format(record['query'])
        resp = requests.get(query)
        if resp.status_code == 200:
            content = resp.json()
            if content['found'] > 0:
                record['coordinates'] = [content['results'][0]['LATITUDE'], content['results'][0]['LONGTITUDE']]
                record['found'] = content['found']
                record['full'] = content['results']
                record['ok'] = 1
                continue
        
        print('sth failed at record ' + str(i))
        record['ok'] = 0

    except Exception as e:
        print('exception ' + str(e) + 'at record ' + str(i))
        record['ok'] = 0
    
    time.sleep(0.08)

search?searchVal=438B+SENGKANG+WEST+AVE&returnGeom=Y&getAddrDetails=Y&pageNum=1 (Caused by NewConnectionError('<urllib3.connection.VerifiedHTTPSConnection object at 0x0000025108934C18>: Failed to establish a new connection: [Errno 11002] getaddrinfo failed'))at record 6689
exception HTTPSConnectionPool(host='developers.onemap.sg', port=443): Max retries exceeded with url: /commonapi/search?searchVal=438C+BT+BATOK+WEST+AVE+8&returnGeom=Y&getAddrDetails=Y&pageNum=1 (Caused by NewConnectionError('<urllib3.connection.VerifiedHTTPSConnection object at 0x00000251089343C8>: Failed to establish a new connection: [Errno 11002] getaddrinfo failed'))at record 6690
exception HTTPSConnectionPool(host='developers.onemap.sg', port=443): Max retries exceeded with url: /commonapi/search?searchVal=439+ANG+MO+KIO+AVE+10&returnGeom=Y&getAddrDetails=Y&pageNum=1 (Caused by NewConnectionError('<urllib3.connection.VerifiedHTTPSConnection object at 0x0000025108934780>: Failed to establish a new connection: [Errno 11002] getaddrinfo failed'))at record 6691
exception HTTPSConnectionPool(host='developers.onemap.sg', port=443): Max retries exceeded with url: /commonapi/search?searchVal=439+BT+BATOK+WEST+AVE+8&returnGeom=Y&getAddrDetails=Y&pageNum=1 (Caused by NewConnectionError('<urllib3.connection.VerifiedHTTPSConnection object at 0x0000025108934C18>: Failed to establish a new connection: [Errno 11002] getaddrinfo failed'))at record 6692
exception HTTPSConnectionPool(host='developers.onemap.sg', port=443): Max retries exceeded with url: /commonapi/search?searchVal=439+CHOA+CHU+KANG+AVE+4&returnGeom=Y&getAddrDetails=Y&pageNum=1 (Caused by NewConnectionError('<urllib3.connection.VerifiedHTTPSConnection object at 0x00000251089343C8>: Failed to establish a new connection: [Errno 11002] getaddrinfo failed'))at record 6693
exception HTTPSConnectionPool(host='developers.onemap.sg', port=443): Max retries exceeded with url: /commonapi/search?searchVal=439+CLEMENTI+AVE+3&returnGeom=Y&getAddrDetails=Y&pageNum=1 (Caused by NewConnectionError('<urllib3.connection.VerifiedHTTPSConnection object at 0x0000025108934780>: Failed to establish a new connection: [Errno 11002] getaddrinfo failed'))at record 6694
exception HTTPSConnectionPool(host='developers.onemap.sg', port=443): Max retries exceeded with url: /commonapi/search?searchVal=439+FAJAR+RD&returnGeom=Y&getAddrDetails=Y&pageNum=1 (Caused by NewConnectionError('<urllib3.connection.VerifiedHTTPSConnection object at 0x0000025108934C18>: Failed to establish a new connection: [Errno 11002] getaddrinfo failed'))at record 6695
exception HTTPSConnectionPool(host='developers.onemap.sg', port=443): Max retries exceeded with url: /commonapi/search?searchVal=439+HOUGANG+AVE+8&returnGeom=Y&getAddrDetails=Y&pageNum=1 (Caused by NewConnectionError('<urllib3.connection.VerifiedHTTPSConnection object at 0x00000251089343C8>: Failed to establish a new connection: [Errno 11002] getaddrinfo failed'))at record 6696
exception HTTPSConnectionPool(host='developers.onemap.sg', port=443): Max retries exceeded with url: /commonapi/search?searchVal=439+JURONG+WEST+AVE+1&returnGeom=Y&getAddrDetails=Y&pageNum=1 (Caused by NewConnectionError('<urllib3.connection.VerifiedHTTPSConnection object at 0x000002510893B3C8>: Failed to establish a new connection: [Errno 11002] getaddrinfo failed'))at record 6697
exception HTTPSConnectionPool(host='developers.onemap.sg', port=443): Max retries exceeded with url: /commonapi/search?searchVal=439+SENGKANG+WEST+AVE&returnGeom=Y&getAddrDetails=Y&pageNum=1 (Caused by NewConnectionError('<urllib3.connection.VerifiedHTTPSConnection object at 0x000002510893B3C8>: Failed to establish a new connection: [Errno 11002] getaddrinfo failed'))at record 6698
exception HTTPSConnectionPool(host='developers.onemap.sg', port=443): Max retries exceeded with url: /commonapi/search?searchVal=439+TAMPINES+ST+43&returnGeom=Y&getAddrDetails=Y&pageNum=1 (Caused by NewConnectionError('<urllib3.connection.VerifiedHTTPSConnection object at 0x000002510893B940>: Failed to establish a new connection: [Errno 11002] getaddrinfo failed'))at record 6699
at 6700
exception HTTPSConnectionPool(host='developers.onemap.sg', port=443): Max retries exceeded with url: /commonapi/search?searchVal=439+YISHUN+AVE+11&returnGeom=Y&getAddrDetails=Y&pageNum=1 (Caused by NewConnectionError('<urllib3.connection.VerifiedHTTPSConnection object at 0x000002510893B400>: Failed to establish a new connection: [Errno 11002] getaddrinfo failed'))at record 6700
exception HTTPSConnectionPool(host='developers.onemap.sg', port=443): Max retries exceeded with url: /commonapi/search?searchVal=439A+BT+BATOK+WEST+AVE+8&returnGeom=Y&getAddrDetails=Y&pageNum=1 (Caused by NewConnectionError('<urllib3.connection.VerifiedHTTPSConnection object at 0x0000025108934F98>: Failed to establish a new connection: [Errno 11002] getaddrinfo failed'))at record 6701
exception HTTPSConnectionPool(host='developers.onemap.sg', port=443): Max retries exceeded with url: /commonapi/search?searchVal=439A+SENGKANG+WEST+AVE&returnGeom=Y&getAddrDetails=Y&pageNum=1 (Caused by NewConnectionError('<urllib3.connection.VerifiedHTTPSConnection object at 0x00000251089343C8>: Failed to establish a new connection: [Errno 11002] getaddrinfo failed'))at record 6702
exception HTTPSConnectionPool(host='developers.onemap.sg', port=443): Max retries exceeded with url: /commonapi/search?searchVal=439B+BT+BATOK+WEST+AVE+8&returnGeom=Y&getAddrDetails=Y&pageNum=1 (Caused by NewConnectionError('<urllib3.connection.VerifiedHTTPSConnection object at 0x0000025108934D68>: Failed to establish a new connection: [Errno 11002] getaddrinfo failed'))at record 6703
exception HTTPSConnectionPool(host='developers.onemap.sg', port=443): Max retries exceeded with url: /commonapi/search?searchVal=439B+SENGKANG+WEST+AVE&returnGeom=Y&getAddrDetails=Y&pageNum=1 (Caused by NewConnectionError('<urllib3.connection.VerifiedHTTPSConnection object at 0x00000251089346D8>: Failed to establish a new connection: [Errno 11002] getaddrinfo failed'))at record 6704
exception HTTPSConnectionPool(host='developers.onemap.sg', port=443): Max retries exceeded with url: /commonapi/search?searchVal=439C+BT+BATOK+WEST+AVE+8&returnGeom=Y&getAddrDetails=Y&pageNum=1 (Caused by NewConnectionError('<urllib3.connection.VerifiedHTTPSConnection object at 0x0000025108934D30>: Failed to establish a new connection: [Errno 11002] getaddrinfo failed'))at record 6705
exception HTTPSConnectionPool(host='developers.onemap.sg', port=443): Max retries exceeded with url: /commonapi/search?searchVal=439C+SENGKANG+WEST+AVE&returnGeom=Y&getAddrDetails=Y&pageNum=1 (Caused by NewConnectionError('<urllib3.connection.VerifiedHTTPSConnection object at 0x0000025108934278>: Failed to establish a new connection: [Errno 11002] getaddrinfo failed'))at record 6706
exception HTTPSConnectionPool(host='developers.onemap.sg', port=443): Max retries exceeded with url: /commonapi/search?searchVal=44+BEDOK+STH+RD&returnGeom=Y&getAddrDetails=Y&pageNum=1 (Caused by NewConnectionError('<urllib3.connection.VerifiedHTTPSConnection object at 0x0000025108934F28>: Failed to establish a new connection: [Errno 11002] getaddrinfo failed'))at record 6707
exception HTTPSConnectionPool(host='developers.onemap.sg', port=443): Max retries exceeded with url: /commonapi/search?searchVal=44+BENDEMEER+RD&returnGeom=Y&getAddrDetails=Y&pageNum=1 (Caused by NewConnectionError('<urllib3.connection.VerifiedHTTPSConnection object at 0x00000251089349E8>: Failed to establish a new connection: [Errno 11002] getaddrinfo failed'))at record 6708
exception HTTPSConnectionPool(host='developers.onemap.sg', port=443): Max retries exceeded with url: /commonapi/search?searchVal=44+BEO+CRES&returnGeom=Y&getAddrDetails=Y&pageNum=1 (Caused by NewConnectionError('<urllib3.connection.VerifiedHTTPSConnection object at 0x0000025108934780>: Failed to establish a new connection: [Errno 11002] getaddrinfo failed'))at record 6709
exception HTTPSConnectionPool(host='developers.onemap.sg', port=443): Max retries exceeded with url: /commonapi/search?searchVal=44+CHAI+CHEE+ST&returnGeom=Y&getAddrDetails=Y&pageNum=1 (Caused by NewConnectionError('<urllib3.connection.VerifiedHTTPSConnection object at 0x0000025108934F98>: Failed to establish a new connection: [Errno 11002] getaddrinfo failed'))at record 6710
exception HTTPSConnectionPool(host='developers.onemap.sg', port=443): Max retries exceeded with url: /commonapi/search?searchVal=44+CIRCUIT+RD&returnGeom=Y&getAddrDetails=Y&pageNum=1 (Caused by NewConnectionError('<urllib3.connection.VerifiedHTTPSConnection object at 0x0000025108934208>: Failed to establish a new connection: [Errno 11002] getaddrinfo failed'))at record 6711
exception HTTPSConnectionPool(host='developers.onemap.sg', port=443): Max retries exceeded with url: /commonapi/search?searchVal=44+HOLLAND+DR&returnGeom=Y&getAddrDetails=Y&pageNum=1 (Caused by NewConnectionError('<urllib3.connection.VerifiedHTTPSConnection object at 0x0000025108934668>: Failed to establish a new connection: [Errno 11002] getaddrinfo failed'))at record 6712
exception HTTPSConnectionPool(host='developers.onemap.sg', port=443): Max retries exceeded with url: /commonapi/search?searchVal=44+JLN+BAHAGIA&returnGeom=Y&getAddrDetails=Y&pageNum=1 (Caused by NewConnectionError('<urllib3.connection.VerifiedHTTPSConnection object at 0x00000251089346A0>: Failed to establish a new connection: [Errno 11002] getaddrinfo failed'))at record 6713
exception HTTPSConnectionPool(host='developers.onemap.sg', port=443): Max retries exceeded with url: /commonapi/search?searchVal=44+LENGKOK+BAHRU&returnGeom=Y&getAddrDetails=Y&pageNum=1 (Caused by NewConnectionError('<urllib3.connection.VerifiedHTTPSConnection object at 0x0000025108934588>: Failed to establish a new connection: [Errno 11002] getaddrinfo failed'))at record 6714
exception HTTPSConnectionPool(host='developers.onemap.sg', port=443): Max retries exceeded with url: /commonapi/search?searchVal=44+LOR+5+TOA+PAYOH&returnGeom=Y&getAddrDetails=Y&pageNum=1 (Caused by NewConnectionError('<urllib3.connection.VerifiedHTTPSConnection object at 0x0000025108934EF0>: Failed to establish a new connection: [Errno 11002] getaddrinfo failed'))at record 6715
exception HTTPSConnectionPool(host='developers.onemap.sg', port=443): Max retries exceeded with url: /commonapi/search?searchVal=44+MARINE+CRES&returnGeom=Y&getAddrDetails=Y&pageNum=1 (Caused by NewConnectionError('<urllib3.connection.VerifiedHTTPSConnection object at 0x000002510892E5F8>: Failed to establish a new connection: [Errno 11002] getaddrinfo failed'))at record 6716
exception HTTPSConnectionPool(host='developers.onemap.sg', port=443): Max retries exceeded with url: /commonapi/search?searchVal=44+MOH+GUAN+TER&returnGeom=Y&getAddrDetails=Y&pageNum=1 (Caused by NewConnectionError('<urllib3.connection.VerifiedHTTPSConnection object at 0x000002510893B358>: Failed to establish a new connection: [Errno 11002] getaddrinfo failed'))at record 6717
exception HTTPSConnectionPool(host='developers.onemap.sg', port=443): Max retries exceeded with url: /commonapi/search?searchVal=44+OWEN+RD&returnGeom=Y&getAddrDetails=Y&pageNum=1 (Caused by NewConnectionError('<urllib3.connection.VerifiedHTTPSConnection object at 0x000002510893B400>: Failed to establish a new connection: [Errno 11002] getaddrinfo failed'))at record 6718
exception HTTPSConnectionPool(host='developers.onemap.sg', port=443): Max retries exceeded with url: /commonapi/search?searchVal=44+SIMS+DR&returnGeom=Y&getAddrDetails=Y&pageNum=1 (Caused by NewConnectionError('<urllib3.connection.VerifiedHTTPSConnection object at 0x000002510893B3C8>: Failed to establish a new connection: [Errno 11002] getaddrinfo failed'))at record 6719
exception HTTPSConnectionPool(host='developers.onemap.sg', port=443): Max retries exceeded with url: /commonapi/search?searchVal=44+STIRLING+RD&returnGeom=Y&getAddrDetails=Y&pageNum=1 (Caused by NewConnectionError('<urllib3.connection.VerifiedHTTPSConnection object at 0x000002510893B780>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed'))at record 6720
at 6800
exception HTTPSConnectionPool(host='developers.onemap.sg', port=443): Max retries exceeded with url: /commonapi/search?searchVal=449+CLEMENTI+AVE+3&returnGeom=Y&getAddrDetails=Y&pageNum=1 (Caused by NewConnectionError('<urllib3.connection.VerifiedHTTPSConnection object at 0x0000025108998C88>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed'))at record 6894
at 6900
at 7000
at 7100
at 7200
at 7300
at 7400
at 7500
at 7600
sth failed at record 7638
at 7700
at 7800
at 7900
at 8000
at 8100
exception HTTPSConnectionPool(host='developers.onemap.sg', port=443): Max retries exceeded with url: /commonapi/search?searchVal=526+BEDOK+NTH+ST+3&returnGeom=Y&getAddrDetails=Y&pageNum=1 (Caused by NewConnectionError('<urllib3.connection.VerifiedHTTPSConnection object at 0x0000025108C0D198>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed'))at record 8155
at 8200
at 8300
at 8400
at 8500
at 8600
at 8700
exception HTTPSConnectionPool(host='developers.onemap.sg', port=443): Max retries exceeded with url: /commonapi/search?searchVal=59+C'WEALTH+DR&returnGeom=Y&getAddrDetails=Y&pageNum=1 (Caused by NewConnectionError('<urllib3.connection.VerifiedHTTPSConnection object at 0x0000025108D45A58>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed'))at record 8790
at 8800
sth failed at record 8848
at 8900
at 9000
at 9100
at 9200
at 9300
at 9400
at 9500
at 9600
at 9700
at 9800
at 9900
at 10000
at 10100
at 10200
at 10300
sth failed at record 10315
at 10400
exception HTTPSConnectionPool(host='developers.onemap.sg', port=443): Max retries exceeded with url: /commonapi/search?searchVal=707+YISHUN+AVE+5&returnGeom=Y&getAddrDetails=Y&pageNum=1 (Caused by NewConnectionError('<urllib3.connection.VerifiedHTTPSConnection object at 0x0000025109085438>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed'))at record 10419
at 10500
at 10600
at 10700
at 10800
at 10900
at 11000
at 11100
exception HTTPSConnectionPool(host='developers.onemap.sg', port=443): Max retries exceeded with url: /commonapi/search?searchVal=799+YISHUN+RING+RD&returnGeom=Y&getAddrDetails=Y&pageNum=1 (Caused by NewConnectionError('<urllib3.connection.VerifiedHTTPSConnection object at 0x00000251091D3198>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed'))at record 11105
exception HTTPSConnectionPool(host='developers.onemap.sg', port=443): Max retries exceeded with url: /commonapi/search?searchVal=8+BEDOK+STH+AVE+2&returnGeom=Y&getAddrDetails=Y&pageNum=1 (Caused by NewConnectionError('<urllib3.connection.VerifiedHTTPSConnection object at 0x00000251091D36D8>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed'))at record 11106
exception HTTPSConnectionPool(host='developers.onemap.sg', port=443): Max retries exceeded with url: /commonapi/search?searchVal=8+BOON+KENG+RD&returnGeom=Y&getAddrDetails=Y&pageNum=1 (Caused by NewConnectionError('<urllib3.connection.VerifiedHTTPSConnection object at 0x00000251091D3518>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed'))at record 11107
exception HTTPSConnectionPool(host='developers.onemap.sg', port=443): Max retries exceeded with url: /commonapi/search?searchVal=8+CANTONMENT+CL&returnGeom=Y&getAddrDetails=Y&pageNum=1 (Caused by NewConnectionError('<urllib3.connection.VerifiedHTTPSConnection object at 0x00000251091D3668>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed'))at record 11108
sth failed at record 11127
at 11200
at 11300
exception HTTPSConnectionPool(host='developers.onemap.sg', port=443): Max retries exceeded with url: /commonapi/search?searchVal=817B+KEAT+HONG+LINK&returnGeom=Y&getAddrDetails=Y&pageNum=1 (Caused by NewConnectionError('<urllib3.connection.VerifiedHTTPSConnection object at 0x0000025109256EB8>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed'))at record 11318
exception HTTPSConnectionPool(host='developers.onemap.sg', port=443): Max retries exceeded with url: /commonapi/search?searchVal=817C+KEAT+HONG+LINK&returnGeom=Y&getAddrDetails=Y&pageNum=1 (Caused by NewConnectionError('<urllib3.connection.VerifiedHTTPSConnection object at 0x000002510923BC50>: Failed to establish a new connection: [Errno 11002] getaddrinfo failed'))at record 11319
exception HTTPSConnectionPool(host='developers.onemap.sg', port=443): Max retries exceeded with url: /commonapi/search?searchVal=818+CHOA+CHU+KANG+AVE+1&returnGeom=Y&getAddrDetails=Y&pageNum=1 (Caused by NewConnectionError('<urllib3.connection.VerifiedHTTPSConnection object at 0x000002510924A4E0>: Failed to establish a new connection: [Errno 11002] getaddrinfo failed'))at record 11320
exception HTTPSConnectionPool(host='developers.onemap.sg', port=443): Max retries exceeded with url: /commonapi/search?searchVal=818+JURONG+WEST+ST+81&returnGeom=Y&getAddrDetails=Y&pageNum=1 (Caused by NewConnectionError('<urllib3.connection.VerifiedHTTPSConnection object at 0x000002510923B160>: Failed to establish a new connection: [Errno 11002] getaddrinfo failed'))at record 11321
exception HTTPSConnectionPool(host='developers.onemap.sg', port=443): Max retries exceeded with url: /commonapi/search?searchVal=818+TAMPINES+ST+81&returnGeom=Y&getAddrDetails=Y&pageNum=1 (Caused by NewConnectionError('<urllib3.connection.VerifiedHTTPSConnection object at 0x0000025109256898>: Failed to establish a new connection: [Errno 11002] getaddrinfo failed'))at record 11322
exception HTTPSConnectionPool(host='developers.onemap.sg', port=443): Max retries exceeded with url: /commonapi/search?searchVal=818+WOODLANDS+ST+82&returnGeom=Y&getAddrDetails=Y&pageNum=1 (Caused by NewConnectionError('<urllib3.connection.VerifiedHTTPSConnection object at 0x0000025109256860>: Failed to establish a new connection: [Errno 11002] getaddrinfo failed'))at record 11323
exception HTTPSConnectionPool(host='developers.onemap.sg', port=443): Max retries exceeded with url: /commonapi/search?searchVal=818A+CHOA+CHU+KANG+AVE+1&returnGeom=Y&getAddrDetails=Y&pageNum=1 (Caused by NewConnectionError('<urllib3.connection.VerifiedHTTPSConnection object at 0x0000025109256D30>: Failed to establish a new connection: [Errno 11002] getaddrinfo failed'))at record 11324
exception HTTPSConnectionPool(host='developers.onemap.sg', port=443): Max retries exceeded with url: /commonapi/search?searchVal=818B+CHOA+CHU+KANG+AVE+1&returnGeom=Y&getAddrDetails=Y&pageNum=1 (Caused by NewConnectionError('<urllib3.connection.VerifiedHTTPSConnection object at 0x0000025109256198>: Failed to establish a new connection: [Errno 11002] getaddrinfo failed'))at record 11325
exception HTTPSConnectionPool(host='developers.onemap.sg', port=443): Max retries exceeded with url: /commonapi/search?searchVal=818C+CHOA+CHU+KANG+AVE+1&returnGeom=Y&getAddrDetails=Y&pageNum=1 (Caused by NewConnectionError('<urllib3.connection.VerifiedHTTPSConnection object at 0x0000025109256978>: Failed to establish a new connection: [Errno 11002] getaddrinfo failed'))at record 11326
exception HTTPSConnectionPool(host='developers.onemap.sg', port=443): Max retries exceeded with url: /commonapi/search?searchVal=819+JURONG+WEST+ST+81&returnGeom=Y&getAddrDetails=Y&pageNum=1 (Caused by NewConnectionError('<urllib3.connection.VerifiedHTTPSConnection object at 0x0000025109256588>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed'))at record 11327
exception HTTPSConnectionPool(host='developers.onemap.sg', port=443): Max retries exceeded with url: /commonapi/search?searchVal=819+TAMPINES+ST+81&returnGeom=Y&getAddrDetails=Y&pageNum=1 (Caused by NewConnectionError('<urllib3.connection.VerifiedHTTPSConnection object at 0x0000025109256BE0>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed'))at record 11328
at 11400
at 11500
at 11600
at 11700
at 11800
sth failed at record 11859
at 11900
at 12000
at 12100
at 12200

In [10]:
address_dict[0]

{'blk_no': '1',
 'street': 'BEACH RD',
 'query': '1+BEACH+RD',
 'ok': 1,
 'coordinates': ['1.303671351', '103.8644787'],
 'found': 3,
 'full': [{'SEARCHVAL': 'BEACH ROAD GARDENS',
   'BLK_NO': '1',
   'ROAD_NAME': 'BEACH ROAD',
   'BUILDING': 'BEACH ROAD GARDENS',
   'ADDRESS': '1 BEACH ROAD BEACH ROAD GARDENS SINGAPORE 190001',
   'POSTAL': '190001',
   'X': '31467.832739999998',
   'Y': '31778.894',
   'LATITUDE': '1.303671351',
   'LONGITUDE': '103.8644787',
   'LONGTITUDE': '103.8644787'},
  {'SEARCHVAL': 'RAFFLES HOTEL',
   'BLK_NO': '1',
   'ROAD_NAME': 'BEACH ROAD',
   'BUILDING': 'RAFFLES HOTEL',
   'ADDRESS': '1 BEACH ROAD RAFFLES HOTEL SINGAPORE 189673',
   'POSTAL': '189673',
   'X': '30309.26725',
   'Y': '30830.8196',
   'LATITUDE': '1.295097408',
   'LONGITUDE': '103.8540683',
   'LONGTITUDE': '103.8540683'},
  {'SEARCHVAL': 'RAFFLES HOTEL SINGAPORE',
   'BLK_NO': '1',
   'ROAD_NAME': 'BEACH ROAD',
   'BUILDING': 'RAFFLES HOTEL SINGAPORE',
   'ADDRESS': '1 BEACH ROAD RAFFLES HOTEL SINGAPORE SINGAPORE 189673',
   'POSTAL': '189673',
   'X': '30336.71783',
   'Y': '30811.637260000003',
   'LATITUDE': '1.294923928',
   'LONGITUDE': '103.854315',
   'LONGTITUDE': '103.854315'}]}

In [21]:
import pickle as pkl
pkl.dump(address_dict, open('address_dict_v1.pkl', 'wb'))

In [13]:
add_df = pd.DataFrame(address_dict)
add_df.head()

,blk_no,coordinates,found,full,ok,query,street
0,1,"[1.303671351, 103.8644787]",3.0,"[{'SEARCHVAL': 'BEACH ROAD GARDENS', 'BLK_NO':...",1,1+BEACH+RD,BEACH RD
1,1,"[1.320852087, 103.93372109999999]",2.0,"[{'SEARCHVAL': 'HDB-BEDOK', 'BLK_NO': '1', 'RO...",1,1+BEDOK+STH+AVE+1,BEDOK STH AVE 1
2,1,"[1.277034744, 103.841261]",3.0,"[{'SEARCHVAL': 'THE PINNACLE@DUXTON', 'BLK_NO'...",1,1+CANTONMENT+RD,CANTONMENT RD
3,1,"[1.327968792, 103.92271600000001]",1.0,"[{'SEARCHVAL': 'PING YI GARDENS', 'BLK_NO': '1...",1,1+CHAI+CHEE+RD,CHAI CHEE RD
4,1,"[1.388546562, 103.98780450000001]",2.0,"[{'SEARCHVAL': 'HDB-CHANGI VILLAGE ROV', 'BLK_...",1,1+CHANGI+VILLAGE+RD,CHANGI VILLAGE RD

In [16]:
error = list(add_df.loc[add_df['ok'] == 0, :].index.values)

In [19]:
not_found = []
for i in error:
    if i % 10 == 0:
        print('at ' + str(i))

    try:
        record = address_dict[i]
        query = 'https://developers.onemap.sg/commonapi/search?searchVal={0}&returnGeom=Y&getAddrDetails=Y&pageNum=1'.format(record['query'])
        resp = requests.get(query)
        if resp.status_code == 200:
            content = resp.json()
            if content['found'] > 0:
                record['coordinates'] = [content['results'][0]['LATITUDE'], content['results'][0]['LONGTITUDE']]
                record['found'] = content['found']
                record['full'] = content['results']
                record['ok'] = 1
                continue
        
        not_found.append(i)
        print('sth failed at record ' + str(i))
        record['ok'] = 0

    except Exception as e:
        print('exception ' + str(e) + 'at record ' + str(i))
        record['ok'] = 0
    
    time.sleep(0.08)

exception HTTPSConnectionPool(host='developers.onemap.sg', port=443): Max retries exceeded with url: /commonapi/search?searchVal=1+ST.+GEORGE'S+RD&returnGeom=Y&getAddrDetails=Y&pageNum=1 (Caused by SSLError(SSLError("bad handshake: SysCallError(10060, 'WSAETIMEDOUT')")))at record 25
sth failed at record 66
sth failed at record 468
sth failed at record 843
sth failed at record 1178
sth failed at record 1431
sth failed at record 1635
sth failed at record 1837
sth failed at record 2048
sth failed at record 2217
sth failed at record 2229
at 2420
sth failed at record 2420
at 2520
sth failed at record 2546
sth failed at record 2593
sth failed at record 2862
sth failed at record 3103
sth failed at record 3321
sth failed at record 3514
sth failed at record 3657
sth failed at record 3665
at 3840
sth failed at record 3840
sth failed at record 3848
at 3850
sth failed at record 3850
at 4020
sth failed at record 4542
at 5760
at 5770
at 5780
at 5790
at 5990
sth failed at record 5990
sth failed at record 5992
at 6690
at 6700
at 6710
at 6720
sth failed at record 7638
at 8790
sth failed at record 8848
sth failed at record 10315
sth failed at record 11127
at 11320
sth failed at record 11859

In [20]:
add_df2 = pd.DataFrame(address_dict)
len(add_df2.loc[add_df2['ok'] == 0, :])

31

In [31]:
error = list(add_df2.loc[add_df2['ok'] == 0, :].index.values)

In [24]:
add_df2.loc[add_df2['ok'] == 0, :]

,blk_no,coordinates,found,full,ok,query,street
25,1,NaN,NaN,NaN,0,1+ST.+GEORGE'S+RD,ST. GEORGE'S RD
66,10,NaN,NaN,NaN,0,10+ST.+GEORGE'S+RD,ST. GEORGE'S RD
468,11,NaN,NaN,NaN,0,11+ST.+GEORGE'S+RD,ST. GEORGE'S RD
843,12,NaN,NaN,NaN,0,12+ST.+GEORGE'S+RD,ST. GEORGE'S RD
1178,13,NaN,NaN,NaN,0,13+ST.+GEORGE'S+RD,ST. GEORGE'S RD
1431,14,NaN,NaN,NaN,0,14+ST.+GEORGE'S+RD,ST. GEORGE'S RD
1635,15,NaN,NaN,NaN,0,15+ST.+GEORGE'S+RD,ST. GEORGE'S RD
1837,16,NaN,NaN,NaN,0,16+ST.+GEORGE'S+RD,ST. GEORGE'S RD
2048,17,NaN,NaN,NaN,0,17+ST.+GEORGE'S+RD,ST. GEORGE'S RD
2217,18,NaN,NaN,NaN,0,18+ST.+GEORGE'S+RD,ST. GEORGE'S RD
2229,18A,NaN,NaN,NaN,0,18A+ST.+GEORGE'S+RD,ST. GEORGE'S RD
2420,19,NaN,NaN,NaN,0,19+ST.+GEORGE'S+RD,ST. GEORGE'S RD
2546,2,NaN,NaN,NaN,0,2+ST.+GEORGE'S+RD,ST. GEORGE'S RD
2593,20,NaN,NaN,NaN,0,20+ST.+GEORGE'S+RD,ST. GEORGE'S RD
2862,21,NaN,NaN,NaN,0,21+ST.+GEORGE'S+RD,ST. GEORGE'S RD
3103,22,NaN,NaN,NaN,0,22+ST.+GEORGE'S+RD,ST. GEORGE'S RD
3321,23,NaN,NaN,NaN,0,23+ST.+GEORGE'S+RD,ST. GEORGE'S RD
3514,24,NaN,NaN,NaN,0,24+ST.+GEORGE'S+LANE,ST. GEORGE'S LANE
3657,25,NaN,NaN,NaN,0,25+ST.+GEORGE'S+LANE,ST. GEORGE'S LANE
3665,25A,NaN,NaN,NaN,0,25A+ST.+GEORGE'S+LANE,ST. GEORGE'S LANE
3840,26,NaN,NaN,NaN,0,26+ST.+GEORGE'S+LANE,ST. GEORGE'S LANE
3848,26A,NaN,NaN,NaN,0,26A+ST.+GEORGE'S+LANE,ST. GEORGE'S LANE
3850,26B,NaN,NaN,NaN,0,26B+ST.+GEORGE'S+LANE,ST. GEORGE'S LANE
4542,3,NaN,NaN,NaN,0,3+ST.+GEORGE'S+RD,ST. GEORGE'S RD
5990,4A,NaN,NaN,NaN,0,4A+ST.+GEORGE'S+LANE,ST. GEORGE'S LANE
5992,4B,NaN,NaN,NaN,0,4B+ST.+GEORGE'S+LANE,ST. GEORGE'S LANE
7638,5,NaN,NaN,NaN,0,5+ST.+GEORGE'S+LANE,ST. GEORGE'S LANE
8848,6,NaN,NaN,NaN,0,6+ST.+GEORGE'S+LANE,ST. GEORGE'S LANE
10315,7,NaN,NaN,NaN,0,7+ST.+GEORGE'S+LANE,ST. GEORGE'S LANE
11127,8,NaN,NaN,NaN,0,8+ST.+GEORGE'S+LANE,ST. GEORGE'S LANE
11859,9,NaN,NaN,NaN,0,9+ST.+GEORGE'S+RD,ST. GEORGE'S RD

In [33]:
for i in error:
    try:
        record = address_dict[i]
        rec_query = re.sub("[.']", '', record['query'])
        rec_query += ",+Singapore"
        query = 'https://maps.googleapis.com/maps/api/geocode/json?address={0}&key='.format(rec_query)
        resp = requests.get(query)
        if resp.status_code == 200:
            content = resp.json()
            if len(content['results']) > 0:
                coordinates = content['results'][0]['geometry']['location']
                record['coordinates'] = [coordinates['lat'], coordinates['lng']]
                record['found'] = len(content['results'])
                record['full'] = content['results']
                record['ok'] = 1
                continue
        
        print('sth failed at record ' + str(i))
        record['ok'] = 0

    except Exception as e:
        print('exception ' + str(e) + 'at record ' + str(i))
        record['ok'] = 0
    
    time.sleep(0.08)

In [34]:
add = pd.DataFrame(address_dict)
len(add.loc[add['ok'] == 0, :])

0

In [35]:
add.head()

,blk_no,coordinates,found,full,ok,query,street
0,1,"[1.303671351, 103.8644787]",3,"[{'SEARCHVAL': 'BEACH ROAD GARDENS', 'BLK_NO':...",1,1+BEACH+RD,BEACH RD
1,1,"[1.320852087, 103.93372109999999]",2,"[{'SEARCHVAL': 'HDB-BEDOK', 'BLK_NO': '1', 'RO...",1,1+BEDOK+STH+AVE+1,BEDOK STH AVE 1
2,1,"[1.277034744, 103.841261]",3,"[{'SEARCHVAL': 'THE PINNACLE@DUXTON', 'BLK_NO'...",1,1+CANTONMENT+RD,CANTONMENT RD
3,1,"[1.327968792, 103.92271600000001]",1,"[{'SEARCHVAL': 'PING YI GARDENS', 'BLK_NO': '1...",1,1+CHAI+CHEE+RD,CHAI CHEE RD
4,1,"[1.388546562, 103.98780450000001]",2,"[{'SEARCHVAL': 'HDB-CHANGI VILLAGE ROV', 'BLK_...",1,1+CHANGI+VILLAGE+RD,CHANGI VILLAGE RD

In [36]:
pkl.dump(address_dict, open('address_dict_v1.pkl', 'wb'))

## Validation

In [49]:
def get_add(add_list):
    first_rec = add_list[0]
    if 'SEARCHVAL' in first_rec.keys():
        add = "{0}+{1}".format(first_rec['BLK_NO'], first_rec['ROAD_NAME'])
        add = re.sub(' ', '+', add)
        return add
    
    add = "{0}+{1}".format(first_rec['address_components'][0]['long_name'], first_rec['address_components'][2]['long_name'])
    return add

In [50]:
add['first_add'] = [get_add(addresses) for addresses in add['full']]

In [51]:
add.head()

,blk_no,coordinates,found,full,ok,query,street,first_add,diff
0,1,"[1.303671351, 103.8644787]",3,"[{'SEARCHVAL': 'BEACH ROAD GARDENS', 'BLK_NO':...",1,1+BEACH+RD,BEACH RD,1+BEACH+ROAD,0.909091
1,1,"[1.320852087, 103.93372109999999]",2,"[{'SEARCHVAL': 'HDB-BEDOK', 'BLK_NO': '1', 'RO...",1,1+BEDOK+STH+AVE+1,BEDOK STH AVE 1,1+BEDOK+SOUTH+AVENUE+1,0.871795
2,1,"[1.277034744, 103.841261]",3,"[{'SEARCHVAL': 'THE PINNACLE@DUXTON', 'BLK_NO'...",1,1+CANTONMENT+RD,CANTONMENT RD,1+CANTONMENT+ROAD,0.937500
3,1,"[1.327968792, 103.92271600000001]",1,"[{'SEARCHVAL': 'PING YI GARDENS', 'BLK_NO': '1...",1,1+CHAI+CHEE+RD,CHAI CHEE RD,1+CHAI+CHEE+ROAD,0.933333
4,1,"[1.388546562, 103.98780450000001]",2,"[{'SEARCHVAL': 'HDB-CHANGI VILLAGE ROV', 'BLK_...",1,1+CHANGI+VILLAGE+RD,CHANGI VILLAGE RD,1+CHANGI+VILLAGE+ROAD,0.950000

In [41]:
from difflib import SequenceMatcher

def similar(a, b):
    return SequenceMatcher(None, a, b).ratio()

In [52]:
add['diff'] = add.apply(lambda row: similar(row['query'], row['first_add']), axis=1)

In [53]:
add['diff'].describe()

count    12267.000000
mean         0.917533
std          0.050986
min          0.153846
25%          0.900000
50%          0.918919
75%          0.933333
max          1.000000
Name: diff, dtype: float64

In [46]:
error_add = add[add['diff'] < 0.9]

In [56]:
add['full'][2986]

[{'SEARCHVAL': 'BLK 216 AND 215 CHOA CHU KANG CENTRAL',
  'BLK_NO': '',
  'ROAD_NAME': 'NIL',
  'BUILDING': 'BLK 216 AND 215 CHOA CHU KANG CENTRAL',
  'ADDRESS': 'BLK 216 AND 215 CHOA CHU KANG CENTRAL',
  'POSTAL': 'NIL',
  'X': '18402.36455',
  'Y': '40559.98376',
  'LATITUDE': '1.383083024',
  'LONGITUDE': '103.7470766',
  'LONGTITUDE': '103.7470766'},
 {'SEARCHVAL': 'HDB-CHOA CHU KANG',
  'BLK_NO': '215',
  'ROAD_NAME': 'CHOA CHU KANG CENTRAL',
  'BUILDING': 'HDB-CHOA CHU KANG',
  'ADDRESS': '215 CHOA CHU KANG CENTRAL HDB-CHOA CHU KANG SINGAPORE 680215',
  'POSTAL': '680215',
  'X': '18407.291240000002',
  'Y': '40539.04137',
  'LATITUDE': '1.382893631',
  'LONGITUDE': '103.7471209',
  'LONGTITUDE': '103.7471209'},
 {'SEARCHVAL': '215 CHOA CHU KANG CENTRAL',
  'BLK_NO': '215',
  'ROAD_NAME': 'CHOA CHU KANG CENTRAL',
  'BUILDING': 'NIL',
  'ADDRESS': '215 CHOA CHU KANG CENTRAL',
  'POSTAL': 'NIL',
  'X': '18412.05375',
  'Y': '40536.27394',
  'LATITUDE': '1.382868605',
  'LONGITUDE': '103.7471637',
  'LONGTITUDE': '103.7471637'},
 {'SEARCHVAL': 'HDB PUBLIC SHELTERS',
  'BLK_NO': '215',
  'ROAD_NAME': 'CHOA CHU KANG CENTRAL',
  'BUILDING': 'HDB PUBLIC SHELTERS',
  'ADDRESS': '215 CHOA CHU KANG CENTRAL HDB PUBLIC SHELTERS SINGAPORE 680215',
  'POSTAL': '680215',
  'X': '18407.76345',
  'Y': '40538.83137',
  'LATITUDE': '1.3828917319999998',
  'LONGITUDE': '103.74712509999999',
  'LONGTITUDE': '103.74712509999999'}]

In [57]:
add['lat'] = [coord[0] for coord in add['coordinates']]
add['lng'] = [coord[1] for coord in add['coordinates']]

In [58]:
add.head()

,blk_no,coordinates,found,full,ok,query,street,first_add,diff,lat,lng
0,1,"[1.303671351, 103.8644787]",3,"[{'SEARCHVAL': 'BEACH ROAD GARDENS', 'BLK_NO':...",1,1+BEACH+RD,BEACH RD,1+BEACH+ROAD,0.909091,1.303671351,103.8644787
1,1,"[1.320852087, 103.93372109999999]",2,"[{'SEARCHVAL': 'HDB-BEDOK', 'BLK_NO': '1', 'RO...",1,1+BEDOK+STH+AVE+1,BEDOK STH AVE 1,1+BEDOK+SOUTH+AVENUE+1,0.871795,1.320852087,103.93372109999999
2,1,"[1.277034744, 103.841261]",3,"[{'SEARCHVAL': 'THE PINNACLE@DUXTON', 'BLK_NO'...",1,1+CANTONMENT+RD,CANTONMENT RD,1+CANTONMENT+ROAD,0.937500,1.277034744,103.841261
3,1,"[1.327968792, 103.92271600000001]",1,"[{'SEARCHVAL': 'PING YI GARDENS', 'BLK_NO': '1...",1,1+CHAI+CHEE+RD,CHAI CHEE RD,1+CHAI+CHEE+ROAD,0.933333,1.327968792,103.92271600000001
4,1,"[1.388546562, 103.98780450000001]",2,"[{'SEARCHVAL': 'HDB-CHANGI VILLAGE ROV', 'BLK_...",1,1+CHANGI+VILLAGE+RD,CHANGI VILLAGE RD,1+CHANGI+VILLAGE+ROAD,0.950000,1.388546562,103.98780450000001

In [59]:
add_dict_df = add.loc[:, ['blk_no', 'street', 'lat', 'lng']]

In [61]:
print(len(hdb))
hdb_join = hdb.merge(add_dict_df, how='inner', on=['blk_no', 'street'], validate='one_to_one')
print(len(hdb_join))

12267
12267

In [62]:
hdb_join.head()

,blk_no,street,max_floor_lvl,year_completed,residential,commercial,market_hawker,miscellaneous,multistorey_carpark,precinct_pavilion,...,5room_sold,exec_sold,multigen_sold,studio_apartment_sold,1room_rental,2room_rental,3room_rental,other_room_rental,lat,lng
0,1,BEACH RD,16,1970,Y,Y,N,N,N,N,...,2,0,0,0,0,0,0,0,1.303671351,103.8644787
1,1,BEDOK STH AVE 1,14,1975,Y,N,N,Y,N,N,...,2,0,0,0,0,0,0,0,1.320852087,103.93372109999999
2,1,CANTONMENT RD,2,2010,N,Y,N,N,N,N,...,0,0,0,0,0,0,0,0,1.277034744,103.841261
3,1,CHAI CHEE RD,15,1982,Y,N,N,N,N,N,...,92,0,0,0,0,0,0,0,1.327968792,103.92271600000001
4,1,CHANGI VILLAGE RD,4,1975,Y,Y,N,N,N,N,...,1,0,0,0,0,0,0,0,1.388546562,103.98780450000001

In [63]:
hdb_join.to_csv('hdb-properties-geocoded.csv', index=False)